* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#container {
  overflow: hidden;
  position: relative;
  background-color: rgb(37, 41, 52);
  height: 100vh;
}

.text-box {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  animation: moveInleft 1.4s ease-in-out;
}

.heading-primary-main-hightlight {
  color : #e31b6d;
}

.heading-primary-sub {
  display: block;
  animation: moveInRight 1.4s ease-in-out;
}

#turi {
  background-color: grey;
  height: 100vh;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform:translateX(-100px)
  }

  75% {
    transform: translateX(12px)
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform:translateX(100px)
  }

  75% {
    transform: translateX(-12px)
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}